body {
    text-align: center;
    
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;

}

h1 {
    text-align: center;
}

.button {
    background-color: #fff;
    color: black;
    padding: 10px 20px;
}
.titulo {
    text-align: justify;
}

button{
    background-color: #333;
    color: #fff;
}
a {
    text-decoration: none;
}

.informacion {
    font-family:cursive;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 96%;
    position: absolute;
}
