header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

figure {
    margin-left: 5px;
    float: left;
    text-align: justify;
    margin-block-start: 5px;
}

.titulo {
    text-align: justify;
}

nav {
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #fff;
    color: black;
}

a {
    text-decoration: none;
}
.informacion{
    font-family: cursive;
}
